<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Times infinity to the power of infinity cubed" src="assets/pizza.png">
</div>
<h2 class="col-6 offset-3 spacer">After over 7 years of collaboration we are happy to announce the opening of Pizza Grust Games. Games made by 
  Raimee for money (Please pay us!)</h2>
<h2 class="col-6 offset-3 mb-100">I love you Aimz, and I cant wait to go on this adventure with you! One of many that have come before and many that will come after!</h2>